XamPrismNavigation/XamPrismNavigation.Android/bin/
XamPrismNavigation/XamPrismNavigation.Android/obj/
XamPrismNavigation/XamPrismNavigation.iOS/obj/
XamPrismNavigation/XamPrismNavigation/obj/
XamPrismNavigation/XamPrismNavigation/bin/
